<?xml version="1.0" encoding="utf-8"?>
<!--
  ~  @author    Y.J. Ballestero <yanisballestero@hotmail.com>
  ~  @copyright Copyright (c) 2020-2022. YJ Ballestero
  ~  @license   https://github.com/YJBallestero/yii2-phpmailer/license
  ~  @link      https://github.com/YJBallestero
  -->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd" bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="YJBallestero Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
